<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-navbar></app-navbar>
<div >
  <img src="/himeimg1.jpg" class="imghead1 slid1" >
  <img src="/himeimg2.jpg" class="imghead1 slid1" >
  <img src="/himeimg3.jpg" class="imghead1 slid1" >
  
  
  </div>
<p class="textonimg1">Find Hotels,services or Restaurants</p>
<p class="textonimg2">Find place to stay,eat,shop or visit from local experts</p>

<!--<ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li style="float:right"><a href="#signup"><i class="fa fa-user" aria-hidden="true"></i> SignUp</a></li>
    <li style="float:right"><a href="#login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
    
  </ul>-->
  <!--{{nn}}-->
 <!--   trial for jquery and it works also see homepage.component.cs !-->
 <!--   <div id="abc"> hello </div> -->
 <!-- <div class="slider-container">
    <div class="menu">
      <label for="slide-dot-1"></label>
      <label for="slide-dot-2"></label>
      <label for="slide-dot-3"></label>
    </div>
    
    <input id="slide-dot-1" type="radio" name="slides" checked>
      <div class="slide slide-1"></div>
    
    <input id="slide-dot-2" type="radio" name="slides">
      <div class="slide slide-2"></div>
    
    <input id="slide-dot-3" type="radio" name="slides">
      <div class="slide slide-3"></div>
  </div>--> 
 <div class="container1">
  <div class="box1">
    <img src="/res23.jpeg" alt="restaurant" />
    <div class="overlay1">
      <div #div1 class="parahead1" id="trial1" (click)="onClickres(div1.innerHTML)">Restaurants</div>
    </div>
    <!-- <p class="parahead1" id="trial1">Restaurants</p> -->
    <!-- <ol>
    <li #li1 class="subelement1" (click)="onClickres(li1.innerHTML)">Chinese</li><br>
    <li #li2 class="subelement1" (click)="onClickres(li2.innerHTML)">Fast food</li><br>
    <li #li3 class="subelement1" (click)="onClickres(li3.innerHTML)">Punjabi</li><br>
    <li #li4 class="subelement1" (click)="onClickres(li4.innerHTML)">South Indian</li><br>
    </ol>
     -->
  </div>
  <div class="box1">
      <img src="/hotels.jpg" alt="hotels" />
      <div class="overlay1">
        <div #div2 class="parahead1" id="trial1" (click)="onClickonshop(div2.innerHTML)">Hotels</div>
      </div>
      <!-- <p class="parahead1">Hotels</p> -->
      <!-- <ol>
          <li #li5 class="subelement1" (click)="onClickonshop(li5.innerHTML)">Televisions</li><br>
          <li #li6 class="subelement1" (click)="onClickonshop(li6.innerHTML)">Laptops</li><br>
          <li #li7 class="subelement1" (click)="onClickonshop(li7.innerHTML)">Mobiles</li><br>
          <li #li8 class="subelement1" (click)="onClickonshop(li8.innerHTML)">Shoes</li><br>
          </ol> -->
  </div>
  <div class="box1">
      <img src="/res.jpeg" alt="movies" />
      <div class="overlay1">
        <div #div3 class="parahead1" id="trial1" (click)="onClickmovie(div3.innerHTML)">Movies</div>
      </div>
      <!-- <p class="parahead1">Movies</p> -->
      <!-- <ol>
          <li #lia class="subelement1" (click)="onClickmovie(lia.innerHTML)">abcdeeee</li><br>
          <li #lib class="subelement1" (click)="onClickmovie(lib.innerHTML)">abcdeeee</li><br>
          <li #lic class="subelement1" (click)="onClickmovie(lic.innerHTML)">abcdeeee</li><br>
          <li #lid class="subelement1" (click)="onClickmovie(lid.innerHTML)">abcdeeee</li><br>
          </ol> -->
    </div>
  <div class="box1">
    <img src="/src/dailymain.jpg" alt="dailyneeds" />
    
    <div class="overlay1">
      <div #div4 class="parahead1" id="trial1" (click)="onClickdaily(lie.innerHTML)">Daily</div>
    </div>
    <!-- <ol>
        <li #lie class="subelement1" (click)="onClickdaily(lie.innerHTML)">Grocery</li><br>
        <li #lif class="subelement1" (click)="onClickdaily(lif.innerHTML)">Chemists</li><br>
        <li #lig class="subelement1" (click)="onClickdaily(lig.innerHTML)">Bakery</li><br>
        <li #lih class="subelement1" (click)="onClickdaily(lih.innerHTML)">Florists</li><br>
        </ol> -->
  </div>
  <div class="box1">
    <img src="/src/homeservices.gif" alt="homeservices" />
    <div class="overlay1">
      <div #div2 class="parahead1" id="trial1" (click)="onClickhomeser(div2.innerHTML)">Home Services</div>
    </div>
    <!-- <p class="parahead1">Home Services</p> -->
    <!-- <ol>
        <li #lii class="subelement1" (click)="onClickhomeser(lii.innerHTML)">Plumbers</li><br>
        <li #lij class="subelement1" (click)="onClickhomeser(lij.innerHTML)">Electrians</li><br>
        <li #lik class="subelement1" (click)="onClickhomeser(lik.innerHTML)">Carpenters</li><br>
        <li #lil class="subelement1" (click)="onClickhomeser(lil.innerHTML)">Maids</li><br>
        </ol> -->
  </div>
  


</div>