<app-navbar></app-navbar>


<div class="c1">
    <img src="/AC-REPAIR.jpg" alt="hs"><br>
    <div class="overlay1">
      <div #div4 class="parahead1" id="trial1" >A/C & Refridgerator</div>
    </div>
</div>

<div class="c1">
    <img src="/carpenter.jpg" alt="hs"><br>
    <div class="overlay1">
      <div #div4 class="parahead1" id="trial1" >Carpenter</div>
    </div>
</div>

<div class="c1">
    <img src="/electrician.jpg" alt="hs"><br>
    <div class="overlay1">
      <div #div4 class="parahead1" id="trial1" >Electrician</div>
    </div>
</div>

<div class="c1">
    <img src="/P.jpg" alt="hs"><br>
    <div class="overlay1">
      <div #div4 class="parahead1" id="trial1" >Plumber</div>
    </div>
</div><br>
 

