<app-navbar></app-navbar>

<div class="card">
    <img src="/bazaar.jpg" alt="Avatar" >
    <div class="container">
      <h4><b>Bazaar</b></h4> 
      UA|Crime|Hindi<br>
      Votes : 77%
    </div>
  </div>

  <div class="card">
      <img src="/an1.jpg" alt="Avatar" >
      <div class="container">
        <h4><b>Andhadhun</b></h4> 
        UA|Crime|Hindi<br>
        Votes : 86%
      </div>
    </div>

    <div class="card">
        <img src="/bh.jpg" alt="Avatar" >
        <div class="container">
          <h4><b>Badhai Ho</b></h4> 
          UA|Comedy|Hindi<br>
          Votes : 85%
        </div>
      </div>